#cluster-map {
  width: 100%;
  height: 500px;
}

#map {
  width: 100%;
  height: 300px;
}

#showImg {
  object-fit: cover;
}

.index_img {
  object-fit: cover;
  height: 300px;
  width: 100%;
}
