#cluster-map {
  width: 100%;
  height: 10rem;
}

#map {
  width: 100%;
  height: 10rem;
}

#showImg {
  object-fit: cover;
}

.index_img {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

@media (max-width: 780px) {
  #flex_show {
    flex-direction: column;
  }

  .col-6 {
    width: 100%;
  }
}
